@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&family=Montserrat:ital,wght@1,200&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #a0a8f3;
    --cor-secundaria: white;
    --cor-terciaria: #4e499e;
    --cor-hover:#4e499e;
    --cor-botao: #4e499e;

    --fonte-titulo: 'Caprasimo', cursive;
    --fonte-texto: 'Belanosima', sans-serif;;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 1% 0 1% 6%;
    align-items: center;
    justify-content: space-between;
    background: #8C96F5;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    position: relative;
    font-family:var(--fonte-titulo);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-hover);
    text-decoration: none;

}

.darkmode{
    position: absolute;
    left: 95%;
    top: 2%;
}

input[type="checkbox"] {
    position: relative;
    width: 70px;
    height: 30px;
    -webkit-appearance: none;
    background: #808080;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(46, 46, 46, 0.2);
    transition: .5s;
}

input:checked[type="checkbox"] {
    background: var(--cor-hover);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: white;
    transform: scale(1.1);
    box-shadow: 0 2px 5px var(--cor-terciaria);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 40px;
}

.apresentacao {
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 800px;
    font-family: var(--fonte-texto);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    color: var(--cor-secundaria);
    font-size: 26px;
    font-family: var(--fonte-titulo);
}

.apresentacao__conteudo__texto{
    color: var(--cor-terciaria);
    font-size: 22px;
    font-family: var(--fonte-texto);

}

.botao__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.botao__links__titulo {
    font-family: var(--fonte-titulo);
    font-size: 24px;
    font-weight: 400;
}

.apresentacao__links { 
    /* background-color: #ba9cf6; */
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    border: 2px outset var(--cor-terciaria);
    width: 50px;
    text-align: center;
    border-radius: 10px;
    font-weight: 300;
    padding: 10px 0;
    text-decoration: none;

}

.apresentacao__links:hover {
    background-color: var(--cor-botao);
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-hover);
    text-align: center;
    padding: 24px;
    font-size: 24px;
    font-weight: 200;
    font-family: var(--fonte-titulo);
}

body.dark{
    --cor-primaria: #13131F;
    --cor-secundaria: #A6AABA;
    --cor-terciaria: #4e499e;
    --cor-hover:#4e499e;
    --cor-botao: #4e499e;
}